/* to apply set theme='custom-theme' on JsonViewer component */

body.body--dark .jsonViewer {
    color: white !important;
    background-color: transparent;
}

body.body--light .jsonViewer {
    color: var(--q-dark) !important;
    background-color: transparent;
}

body.body--dark .source-container {
    background-color: black;
}

body.body--light .source-container {
    background-color: #eee;
}

.custom-theme {
    white-space: nowrap;
    font-size: 14px;
    font-family: Consolas, Menlo, Courier, monospace;

    .jv-ellipsis {
        color: #999;
        background-color: #eee;
        display: inline-block;
        line-height: 0.9;
        font-size: 0.9em;
        padding: 0px 4px 2px 4px;
        border-radius: 3px;
        vertical-align: 2px;
        cursor: pointer;
        user-select: none;
    }

    .jv-button {
        color: #49b3ff;
    }

    .jv-item {
        &.jv-boolean {
            color: #fc1e70;
        }

        &.jv-function {
            color: #1306ca;
        }

        &.jv-number,
        &.jv-number-float,
        &.jv-number-integer {
            color: #fc1e70;
        }

        &.jv-undefined {
            color: #e08331;
        }

        &.jv-string {
            color: #42b983;
            word-break: break-word;
            white-space: normal;
        }
    }

    .jv-code .jv-toggle {
        &:before {
            padding: 0px 2px;
            border-radius: 2px;
        }

        &:hover &:before {
            background: #eee;
        }
    }
}
