// this file contains one-time global imports
@import './global/global-index';
@import './utilities';
@import './components/json-viewer';
@import './components/notification';
@import './components/q-layout';

body {
    --top-bar-height: 48px;
    --bottom-bar-height: 52px;
    font-size: .9em;
    font-family: "silkaregular", sans-serif;
}

body.body--light {
    --border-color: #{$grey-3};
    --text-color: #{$dark};
    --subtitle-color: #{$grey-7};
    --bg-color: white;
    --bg-hover-color: rgb(233, 236, 239);
    --header-bg-color: {$grey-3};
    --muted-text-color: #{$grey-3};
    --invert-text-color: white;
    --grey-text-color: #{$grey-7};
    --tab-bg-color: #{$grey-3};
    --active-tab-bg-color: #{$tab-active-light};
    --active-tab-text-color: white;

    --q-primary: #2a8de3 !important;
    --q-secondary: #8B3F98 !important;

    --scrollbar-track-bg-color: #{$grey-5};
    --scrollbar-thumb-bg-color: #{$grey-7};

    --odd-row-bg-color: #{$grey-3};

    --notify-success: #255B00;
    --notify-error: #880000;
    --notify-neutral: #4D4D4D;
    --notify-info: #008888;

    a:hover {
        color: $a-hover-light;
    }
}

body.body--dark {
    --border-color: #{$grey-9};
    --text-color: white;
    --subtitle-color: #{$grey-5};
    --bg-color: #181818;
    --bg-hover-color: #282828;
    --header-bg-color: #{$grey-10};
    --muted-text-color: #{$grey-8};
    --invert-text-color: #{$dark};
    --grey-text-color: #{$grey-5};
    --tab-bg-color: #{$grey-10};
    --active-tab-bg-color: #{#{$tab-active-dark}};
    --active-tab-text-color: white;

    --q-primary: #2a8de3 !important;
    --q-secondary: #8B3F98 !important;

    --scrollbar-track-bg-color: #{$grey-10};
    --scrollbar-thumb-bg-color: #{$grey-7};

    --odd-row-bg-color: #{$grey-10};

    --q-dark: #181818;

    --notify-success: #469d0d;
    --notify-error: #b30909;
    --notify-neutral: #858585;
    --notify-info: #15baba;

    a:hover {
        color: $a-hover-dark;
    }

    .vjs-tree-node.is-highlight,.vjs-tree-node:hover{
        background-color:#313436
    }

    
}

a {
    color: var(--q-primary);
    text-decoration: none;
    cursor: pointer;
}

// quasar overrides
.q-tabs {
    max-width: 100%;
}

.q-tab--inactive {
    opacity: unset;
}

.q-tab-panels {
    background: none;
}

.q-card {
    border-radius: 12px;
}

// This allow the q-card to project shadow outside the tab panel container
.q-panel.scroll {
    overflow: var(--v-overflow, scroll);
}

.q-table__middle{
    @include scroll-bar;
}

.q-card--dark {
    box-shadow: 0 0.5rem 1.2rem rgba(82, 85, 85, 0.1);
}

.q-expansion-item{
    .q-item{
        background: #fff;

        &--dark{
            background: #212121;
        }
    }
}

.q-tabs__arrow {
    top: 12px !important;
    &--right {
        top: 12px !important;
    }
}
