@import 'utilities'

@import './dataCard.sass'

a
 color: $secondary
 text-decoration: none
 transition: 400ms color ease
 &:hover
   color: $secondary

.toolbar
  background: radial-gradient( circle at 50% 50%, rgba(97, 8, 183, 1) 1%, rgba(0, 188, 212, 1) 53%, rgba(213, 109, 213, 1) 100%)
  color: $purpleDarkMode

.q-header
  margin:10px

.q-table thead tr, .q-table tbody td
  height:60px

.q-card
  padding: 0

.q-btn
  border-radius: 4px

.q-tabs
  border-bottom-width: 1px

.q-tabs--dense .q-tab
  min-height: 53px

.q-tooltip
  font-size: 12px
  max-width: min(500px, 80vw)

.q-mb-lg
  margin-top: 20px

.text-h4
  line-height: 2rem
  user-select: none

.q-light
  background: white
  .q-tab
    color: black

.q-table--dark .q-table__bottom, .q-table--dark thead, .q-table--dark tr, .q-table--dark th, .q-table--dark td
  border-color: rgb(0 0 0 / 50%)

.grayscale
  filter: grayscale(1)
  transition: 400ms ease filter

body
  font-family: "silkaregular"

body.body--light
  background: #fafafa
  background-image: url(../assets/background.svg) !important

  .bgNormal
    background: white
    background-size: cover
    margin-top: 400px
    height: 100%
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 0

  .jsonViewer
    color: $purpleDarkMode
    max-width: 100vw

  .toolbar
    background: rgb(127, 99, 255)
    color: $purpleDarkMode

body.body--dark
  color: $white

  .bgNormal
    background: #1a1a1a
    background-size: cover
    margin-top: 400px
    height: 100%
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 0

  .toolbar
    background: #282828

  .q-card
    background: $dark
    border-radius: 6px

  background: #1a1a1a

.info-icon
    margin-left: 4px

.ellipsis-label
  color: #999
  background-color: #eee
  display: inline-block
  line-height: 6px
  margin-left: 15px
  height: 12px
  font-size: 0.9em
  padding: 0px 4px 2px 4px
  border-radius: 3px
  vertical-align: 2px
  cursor: pointer
  -webkit-user-select: none
  user-select: none

.list-arrow
  font-size: 1.8em
  margin-top: -3px
  margin-left: -8px
  color: #666666

.pageContainer
  flex: 0 1 1200px
  max-width: 1200px
  margin: auto

.slim-scrollbar
  &::-webkit-scrollbar
    width: 0.5rem

  &::-webkit-scrollbar-track
    background-color: transparent

  &::-webkit-scrollbar-thumb
    background-color: rgba($white, 0.5)
    border-radius: .5rem
    border: 0.1rem solid transparent
    background-clip: content-box

  &::-webkit-scrollbar-thumb:hover
    background-color: rgba($white, 0.9)

.scroll
  &::-webkit-scrollbar
    width: 0.5rem

  &::-webkit-scrollbar-track
    background-color: transparent

  &::-webkit-scrollbar-thumb
    background-color: rgba($white, 0.5)
    border-radius: .5rem
    border: 0.1rem solid transparent
    background-clip: content-box

  &::-webkit-scrollbar-thumb:hover
    background-color: rgba($white, 0.9)

.q-dialog__inner > div
  border-radius: 6px

.tableWrapper .content-container
  border-radius: 6px

.q-tabs.topRounded
  border-radius: 6px 6px 0 0
  border-bottom: 1px solid black

.topLeftRounded
  border-radius: 6px 0 0 0

.topRightRounded
  border-radius: 0 6px 0 0

.tabsBar
  color: rgb(133, 145, 253)

.homeInfo
  color: white
  max-width: 100vw

.positive
  color: $positive

.negative
  color: $negative

.clickable
  cursor: pointer

.word-break
  word-break: break-word

.tableWrapper
  max-width: 100vw

@media screen and (max-width: 650px)
  body
    font-size: 12px

  .homeInfo
      color: white
      max-width: 100vw
      font-size: 12px !important

  .text-h4.text-primary.q-mb-lg
    line-height: 0rem !important

  .q-header
    margin: 0px 0px !important

  .q-btn__wrapper
    padding: 4px !important

@media only screen and (max-width: 550px)
  .homeInfo
    .text-h6
      font-size: 1.3em
  .q-tab__label
    font-size: 11px
  .title
    font-size: 1.7rem
  .selectorContainer .text-h6
    font-size: 0.8rem

@media only screen and (max-width: 400px)
  .homeInfo
    .text-h6
      font-size: 1em
    .text-subtitle2
      font-size: 1.1em
    .q-pa-md
      padding: 5px
  .title
    font-size: 1.5rem

