// this file contains one-time global imports
@import './global/global-index';
@import './utilities';
@import './components/json-viewer';
@import './components/notification';
@import './components/q-layout';

body {
    --top-bar-height: 48px;
    --bottom-bar-height: 52px;

    font-family: "silkaregular", sans-serif;
}

body.body--light {
    --border-color: #{$grey-3};
    --text-color: #{$dark};
    --invert-text-color: white;
    --grey-text-color: #{$grey-7};
    --tab-bg-color: #{$grey-3};
    --active-tab-bg-color: #{$tab-active-light};
    --active-tab-text-color: white;

    --q-primary: #2a8de3 !important;
    --q-secondary: #8B3F98 !important;

    --scrollbar-track-bg-color: #{$grey-5};
    --scrollbar-thumb-bg-color: #{$grey-7};

    a:hover {
        color: $a-hover-light;
    }
}

body.body--dark {
    --border-color: #{$grey-9};
    --text-color: white;
    --invert-text-color: #{$dark};
    --grey-text-color: #{$grey-5};
    --tab-bg-color: #{$grey-10};
    --active-tab-bg-color: #{#{$tab-active-dark}};
    --active-tab-text-color: white;

    --q-primary: #2a8de3 !important;
    --q-secondary: #8B3F98 !important;

    --scrollbar-track-bg-color: #{$grey-10};
    --scrollbar-thumb-bg-color: #{$grey-7};

    --q-dark: #181818;

    a:hover {
        color: $a-hover-dark;
    }
}

a {
    color: var(--q-primary);
    text-decoration: none;
    cursor: pointer;
}

// quasar overrides
.q-tabs {
    max-width: 100%;
}

.q-tab--inactive {
    opacity: unset;
}

.q-tab-panels {
    background: none;
}

.q-card {
    border-radius: 12px;
}

// This allow the q-card to project shadow outside the tab panel container
.q-panel.scroll {
    overflow: var(--v-overflow, scroll);
}

.q-table__middle{
    @include scroll-bar;
}

.q-card--dark {
    box-shadow: 0 0.5rem 1.2rem rgba(82, 85, 85, 0.1);
}

.q-expansion-item{
    .q-item{
        background: #fff;

        &--dark{
            background: #212121;
        }
    }
}

