@import url("./dataCard.scss");
@import url('./jsonViewerTheme.scss');


a {
  color: rgb(100, 111, 211);
  text-decoration: none;
}

.toolbar {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(97, 8, 183, 1) 1%,
    rgba(0, 188, 212, 1) 53%,
    rgba(213, 109, 213, 1) 100%
  );
  color: $purpleDarkMode;
}

// Fonts
body {
  font-family: "silkaregular";
}

// Light/Dark Theme
body.body--light {
  // background-image: radial-gradient(circle at 52% 100%, rgba(195, 248, 255, 1) 16%, rgba(213, 182, 243, 1) 98%);
  background: #fafafa;

  .bgNormal {
    background: white;
    background-size: cover;
    margin-top: 400px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .jsonViewer {
    color: $purpleDarkMode;
    max-width: 100vw;
    overflow:scroll;
  }

  .toolbar {
    background: rgb(127, 99, 255);
    color: $purpleDarkMode;
  }

  .searchCard {
    padding: 1px;
    background: radial-gradient(
      circle at 50% 50%,
      rgba(97, 8, 183, 1) 1%,
      rgba(0, 188, 212, 1) 53%,
      rgba(213, 109, 213, 1) 100%
    );
    border-radius: 10px;

    .q-input {
      width: 100%;
      font-size: 1.3rem;
    }

    .searchCardSection {
      padding: 10px;
      background: #ffffff;
      border-radius: 10px;
    }
  }
}

body.body--dark {
  color: $white;

  .bgNormal {
    background: #1a1a1a;
    background-size: cover;
    margin-top: 400px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .toolbar {
    background: #282828;
  }

  .q-card {
    padding: 10px;
    background: $dark;
    border-radius: 10px;
  }

  .searchCard {
    padding: 1px;
    background: radial-gradient(
      circle at 50% 50%,
      rgba(97, 8, 183, 1) 1%,
      rgba(0, 188, 212, 1) 53%,
      rgba(213, 109, 213, 1) 100%
    );
    border-radius: 10px;

    .q-input {
      width: 100%;
      font-size: 1.3rem;
    }

    .searchCardSection {
      padding: 10px;
      background: $dark;
      border-radius: 10px;
    }
  }

  background: #1a1a1a;
}

.pageContainer {
  flex: 0 1 1200px;
  max-width: 1200px;
}

// Defines
.slim-scrollbar {
  /* custom scrollbar */
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background-color: #d6dee1;
    background-color: rgba($white, 0.5);
    border-radius: 1rem;
    border: 0.1rem solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($white, 0.9);
  }
}

.scroll {
  /* custom scrollbar */
  &::-webkit-scrollbar {
    width: 0.5rem;

  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background-color: #d6dee1;
    background-color: rgba($white, 0.5);
    border-radius: 1rem;
    border: 0.1rem solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($white, 0.9);
  }
}

// Cards & Dialogs

.q-dialog__inner > div {
  border-radius: 10px;
}

.ContentContainer {
  border-radius: 10px;
}

.topRounded {
  border-radius: 10px 10px 0px 0px;
}

.botRounded {
  border-radius: 0px 0px 10px 15px;
}

@media only screen and (max-width: 550px) {
  .selectorContainer .text-h6 {
    font-size: 0.8rem;
  }
  .q-input {
    font-size: 1.2rem;
  }
}



.taskbarSearch {
  max-width: 300px;
  max-height: 50px;
  padding-right: 10px;
  font-size: 1rem;
  width: 400px;
}

.tabsBar {
  color: rgb(133, 145, 253);
}

.homeInfo {
  color: white;
  max-width: 100vw;
  overflow:scroll;

}

.tableWrapper {
  max-width: 100vw;
  padding-left: 5px;
  padding-right: 5px;
}

.jv-code{
  overflow: scroll !important;
}


::-webkit-scrollbar {
  display: none;
}

