.dataCardsContainer {
  display: flex;
  gap: 10px;
  .dataCardItem {
    background: #0000001e;
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding:20px;
  }
  .dataCardTile {
    color: $white;
    font-size: 0.8rem;
  }
  .dataCardData {
    color: $primary;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .balance{
    width: fit-content;
  }
}
