
$purpleBright   : #814cdc
$purpleDarkMode : #3d1d74
$purpleDark     : #23195e
$purpleSoft     : #7772ac
$purpleGrey     : #c4c0ee
$blueDark       : #182244
$blueDarkMode   : #0c1535
$blueLight      : #2fd7fe
$white          : #e3def7

$dark-0         : #1c075e
$dark-1         : #23195e

$grey-0         : #d4ceeb

$primary        : #FFFFFF
$secondary      : #646FD3
$accent         : #1db0de

$dark           : #282828

$positive       : #55c3b3
$negative       : #bd2677
$info           : #452ea3
$warning        : #F2C037

$button-border-radius   : 6px !default
$generic-border-radius  : 6px !default
