
$primary   : #571aff;
$secondary : #dfdfed;
$accent    : #ffd75e;

$dark      : #010035;

$positive  : #55c3b3;
$negative  : #ff422a;
$info      : #dfdfed;
$warning   : #F2C037;
$purpleDarkMode : #3d1d74;


$purpleBright   : #814cdc;
$purpleDarkMode : #3d1d74;
$purpleDark     : #23195e;
$purpleSoft     : #7772ac;
$purpleGrey     : #c4c0ee;
$blueDark       : #182244;
$blueDarkMode   : #0c1535;
$blueLight      : #2fd7fe;
$white          : #e3def7;
$red            : #bd2677;
$green          : #55c3b3;
$yellow         : #F2C037;

$dark-0         : #1c075e;
$dark-1         : #23195e;

$grey-0         : #d4ceeb;

// Presets
$primary   : #814cdc;
$secondary : #e3def7;
$accent    : #2fd7fe;

$dark      : #23195e;

$positive  : #55c3b3;
$negative  : #bd2677;
$info      : #e3def7;
$warning   : #F2C037;

// Corner radius
$button-border-radius   : 15px !default;
$generic-border-radius  : 10px !default;
