/* General */
.u-flex {
    &--left,
    &--center,
    &--space-between {
        display: flex;
    }

    &--left {
        justify-content: flex-start;
        align-items: center;
    }

    &--center {
        justify-content: center;
        align-items: center;
    }

    &--space-between {
        justify-content: space-between;
        align-items: center;
    }
}

/* Text */
.u-text {
    &--small {
        font-size: 12px;
    }
}
