@use 'sass:color';

@import '../quasar.variables';

$a-hover-light: color-mix(in srgb, var(--q-primary), black 50%);
$a-hover-dark: color-mix(in srgb, var(--q-primary), white 30%);
$grey: #909090;

$tab-active-light: color-mix(in srgb, var(--q-primary), white 20%);
$tab-active-dark: var(--q-primary);
